

 <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="#" class="button">Link 1</a></li>
         <li><a href="#" class="button">Link 2</a></li>
         <li><a href="#" class="button">Link 3</a></li>
         <li><a href="#" class="button">Link 4</a></li>
        </ul>
      </div>
      <h1>Food Blog <small>This is my blog. </small></h1>
      <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
      <hr/>
    </div>
  </div>

<ul id="articles">
  <% @articles.each do |article| %>
    


 
</ul>
 
 
 
 
   
 
 
   
 
  <div class="row">
 
     
    <div class="large-9 columns" role="content">
 
      <article>
 
        <h3><%= link_to article.title, article_path(article), class: 'article_title' %></a></h3>
        <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
        <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
 
        <div class="row">
          <div class="large-6 columns">
           <!-- <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p> -->
          </div>
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]"/>
          </div>
        </div>
 
        <!-- <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p> -->

      <p><%= article.body %></p>

 
      </article>
 
      <hr/>
 
 
    </div>
 
     
 
 
     
 
    <aside class="large-3 columns">
 
      <h5>Categories</h5>
      <ul id="tags">
  <% @tag.each do |tag| %>
    <li>
    <%= link_to tag.name, tag_path(tag) %>
    &nbsp
    <%= link_to "delete", tag_path(tag), :method => :delete %>
    </li>
  <% end %>
</ul>
 
      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More →</a>
      </div>
 
    </aside>
 
     
  </div>
 
   
  <% end %>
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Michael Wiss.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  